<div class="busy-bus">

  <div class="header">
    
    <div class="flex-row">

      <md-select placeholder="Route" [(ngModel)]="currentRoute" (change)="onRouteChange($event)">
         <md-option *ngFor="let route of routes" [value]="route">{{ route.title }}</md-option>
      </md-select>

      <div class="bus-count" *ngIf="vehicles">
        {{vehicles.length}} busses
      </div>

    </div>

  </div>

  <div class="map">

    <agm-map [latitude]="37.757288" [longitude]="-122.436227" [zoom]="13" (boundsChange)="onBoundsChange($event)">
      <agm-marker *ngFor="let vehicle of vehicles; index as i;" [iconUrl]=vehicle.iconUrl [latitude]=vehicle.lat [longitude]=vehicle.lon [label]=vehicle.routeTag [title]=vehicle.label [zIndex]=10000+vehicle.id>
      </agm-marker>
      <agm-marker *ngFor="let stop of busStops; index as i;" [latitude]=stop.lat [longitude]=stop.lon [title]=stop.title [zIndex]=stop.id [iconUrl]="'assets/bus-stop.png'">
      </agm-marker>
    </agm-map>

  </div>

</div>